header {
  position: fixed;

  top: 0;
  left: 230px;
  right: 0;

  height: 60px;
  padding: 0 25px;

  background-color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 999;
}

header input {
  width: 400px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.notification img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile-circle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #0e8998;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  font-weight: bold;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.profile-info strong {
  font-size: 16px;
  color: #10284b;
}

.profile-info span {
  font-size: 14px;
  color: #53627a;
}

.profile-arrow {
  font-size: 14px;
  color: #064e52;
  margin-left: 2px;
}

.notification,
.profile {
  border: none;
  background: none;
  cursor: pointer;
}

.profile {
  font-family: inherit;
  text-align: left;
}